{% extends 'base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block body %}
<div class="background-overlay"></div>
<div class="content">
    <main class="d-flex">
        <div class="container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Edit lieu {{ lieu.nom }}</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.nom, 'Nom:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                        {% set errors = form_errors(form.nom) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.rue, 'Rue:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.rue, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                        {% set errors = form_errors(form.rue) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.Ville, 'Ville:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.Ville, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                        {% set errors = form_errors(form.Ville) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_lieu_index') }}" class="btn btn-danger">Retour à la liste</a>
                        {{ form_row(form.submit, {'label': 'Modifier le lieu'}) }}
                        {{ include('lieu/_delete_form.html.twig') }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
