{% extends 'base.html.twig' %}

{% block title %}Edit Sorties{% endblock %}

{% block body %}
    <main class="d-flex">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Edit Sorties</h1>

            {{ include('sorties/form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('sorties/index') }}">back to list</a>

            {{ include('sorties/delete_form.html.twig') }}
        </div>
    </main>
{% endblock %}
