{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <main class="d-flex">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Sorties index</h1>
            <form action="{{ path('sorties/filter') }}" method="GET">
                <div class="form-group">
                    <label for="nom">Nom de la fête :</label>
                    <input type="text" id="nom" name="nom">
                </div>
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </form>
            <table class="table">


                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="id_userCheckbox"> <?php echo $isUser ? '' : 'disabled'; ?>
                    <label class="custom-control-label" for="userCheckbox">sorties aux qu'elle je suis inscrite</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="userCheckbox"> <?php echo $isUser ? '' : 'disabled'; ?>
                    <label class="custom-control-label" for="id_userCheckbox">sorties aux qu'elle je ne suis pas inscrite</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="userCheckbox"> <?php echo $isUser ? '' : 'disabled'; ?>
                    <label class="custom-control-label" for="userCheckbox">sorties passées</label>
                </div>
                <form action="" method="post">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userCheckbox"> <?php echo $isUser ? '' : 'disabled'; ?>
                        <label class="custom-control-label" for="userCheckbox">Sorties dont je suis l'organisateur</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Date de la sortie</th>
                    <th>Duree</th>
                    <th>Lieu</th>
                    <th>Organisateur</th>
                    <th>NbrPersonne max</th>
                    <th>Participants</th>
                    <th>Note</th>
                    <th>DateLimite</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sorty in sorties %}
                    {% set style = sorty.etat.id == 7 ? 'text-decoration: line-through;' : '' %}
                    <tr>
                        <td style="{{ style }}">{{ sorty.id }}</td>
                        <td style="{{ style }}">{{ sorty.nom }}</td>
                        <td style="{{ style }}">{{ sorty.date ? sorty.date|date('Y-m-d H:i:s') : '' }}</td>
                        <td style="{{ style }}">{{ sorty.duree }}</td>
                        <td style="{{ style }}">{{ sorty.lieu }}</td>
                        <td style="{{ style }}">{{ sorty.organizator.username }}</td>
                        <td style="{{ style }}">{{ sorty.nbrPersonne }}</td>
                        <td style="{{ style }}">{{ sorty.participants|length }}</td>
                        <td style="{{ style }}">{{ sorty.note }}</td>
                        <td style="{{ style }}">{{ sorty.dateLimite ? sorty.dateLimite|date('Y-m-d') : '' }}</td>
                        <td>{{ sorty.etat.libelle }}</td>
                        <td>
                            <div>
                                {% if sorty.etat.id != 7 %}
                                    <a href="{{ path('sorties/show', {'id': sorty.id}) }}"
                                       class="btn btn-primary">Show</a>
                                    {% if sorty.etat.id == 1 or sorty.etat.id == 2 %}
                                        <a href="{{ path('register_to_sortie', {'id': sorty.id}) }}"
                                           class="btn btn-primary">Register</a>
                                        <a href="{{ path('unsubscribe_to_sortie', {'id': sorty.id}) }}"
                                           class="btn btn-primary">unsubscribe</a>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('sorties/new') }}" class="btn btn-success">Create New</a>
        </div>
    </main>
{% endblock %}
