{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <main class="d-flex">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Sorties index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Date de la sortie</th>
                    <th>Duree</th>
                    <th>Lieu</th>
                    <th>Organisateur</th>
                    <th>NbrPersonne max</th>
                    <th>Participants</th>
                    <th>Note</th>
                    <th>DateLimite</th>
                    <th>Actions</th>
                    <th>Etat</th>
                </tr>
                </thead>
                <tbody>
                {% for sorty in sorties %}
                    <tr>
                        <td>{{ sorty.id }}</td>
                        <td>{{ sorty.nom }}</td>
                        <td>{{ sorty.date ? sorty.date|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ sorty.duree }}</td>
                        <td>{{ sorty.lieu }}</td>
                        <td>{{ sorty.organizator.username }}</td>
                        <td>{{ sorty.nbrPersonne }}</td>
                        <td>{{ sorty.participants|length }}</td>
                        <td>{{ sorty.note }}</td>
                        <td>{{ sorty.dateLimite ? sorty.dateLimite|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('sorties/show', {'id': sorty.id}) }}" class="btn btn-primary">Show</a>
                            {% if sorty.etat.id == 1 or sorty.etat.id == 2 %}
                            <a href="{{ path('register_to_sortie', {'id': sorty.id}) }}" class="btn btn-primary">Register</a>
                            <a href="{{ path('unsubscribe_to_sortie', {'id': sorty.id}) }}" class="btn btn-primary">unsubscribe</a>
                            {% endif %}
                        </td>

                        <td>{{ sorty.etat.libelle }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('sorties/new') }}" class="btn btn-success">Create New</a>
        </div>
    </main>
{% endblock %}
