{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="background-overlay"></div>
    <h1 class="row justify-content-center">Sortie {{ sortie.nom }}</h1>
    <main class="d-flex">
        <div class="content container d-flex flex-column">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            <div class="card mb-4 mt-4">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ sortie.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ sortie.nom }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ sortie.date ? sortie.date|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Duree</th>
                        <td>{{ sortie.duree }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        {% if sortie.lieu is not null %}
                            <td>{{ sortie.lieu.nom }}</td>
                        {% else %}
                            <td>Aucun lieu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        {% if sortie.lieu is not null %}
                            <td>{{ sortie.lieu.rue }}</td>
                        {% else %}
                            <td>Aucune adresse</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Organisateur</th>
                        <td>
                            <a class="link link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="{{ path('user/show', {'id': sortie.organizator.id}) }}" style="color: mediumpurple;">{{ sortie.organizator.username }}</a>

                        </td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>{{ sortie.etat.libelle }}</td>
                    </tr>
                    <tr>
                        <th>NbrPersonne max</th>
                        <td>{{ sortie.nbrPersonne }}</td>
                    </tr>
                    <tr>
                        <th>Nb Participants</th>
                        <td>{{ sortie.participants|length }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ sortie.note }}</td>
                    </tr>
                    <tr>
                        <th>Date Limite</th>
                        <td>{{ sortie.dateLimite ? sortie.dateLimite|date('Y-m-d') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content mb-4">
                    <a href="{{ path('sorties/index') }}" class="btn offset-md-4 btn-primary">Back to List</a>
                    {% if app.user == sortie.organizator or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('sorties/edit', {'id': sortie.id}) }}"
                            class="btn btn-secondary">Edit</a>
                        <a href="{{ path('sorties/cancel', {'id': sortie.id}) }}" class="btn btn-danger">Annuler</a>
                        {{ include('sorties/delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container d-flex flex-column align-items-center">
            {% if sortie.participants %}
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                        <h2 class="card-header">Liste des participants</h2>
                        <ul class="list-group list-group-flush">
                        {% for participant in sortie.participants %}
                            <li class="list-group-item">Nom :
                                <a class="link link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                   href="{{ path('user/show', {'id': participant.id}) }}" style="color: mediumpurple;">{{ participant.username }}</a>
                                <br>
                                Campus : <a href="https://www.eni-ecole.fr/ecole/campus-physiques/campus-de-rennes/" style="color: mediumpurple;"> {{ participant.site.nom }}</a>



                            </li>
                            {% else %}
                                <li class="list-group-item">Aucun participant</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container d-flex flex-column align-items-end">
            {% if sortie.participants %}
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                        <h2 class="card-header">Détails du lieu</h2>
                        <ul class="list-group list-group-flush">
                            {% if sortie.lieu is not null %}
                                <li class="list-group-item">Nom :
                                    <a class="link link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                       href="{{ path('app_lieu_show', {'id': sortie.lieu.id}) }}" style="color: mediumpurple;">{{ sortie.lieu.nom }}</a>
                                </li>
                                <li class="list-group-item">Rue : {{ sortie.lieu.rue }} </li>
                                <li class="list-group-item">Ville : {{ sortie.lieu.ville.nom }}</li>
                                <li class="list-group-item">Longitude : {{ sortie.lieu.longitude }}</li>
                                <li class="list-group-item">Latitude : {{ sortie.lieu.latitude }}</li>
                            {% else %}
                                <li class="list-group-item">Pas d'infos</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>

{% endblock %}
