{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <main class="d-flex">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Sorties</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ sorty.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ sorty.nom }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ sorty.date ? sorty.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Duree</th>
                    <td>{{ sorty.duree }}</td>
                </tr>
                <tr>
                    <th>Lieu</th>
                    <td>{{ sorty.lieu }}</td>
                </tr>
                <tr>
                    <th>Organisateur</th>
                    <td>{{ sorty.organizator.username }}</td>
                </tr>
                <tr>
                    <th>Etat</th>
                    <td>{{ sorty.etat.libelle }}</td>
                </tr>
                <tr>
                    <th>NbrPersonne max</th>
                    <td>{{ sorty.nbrPersonne }}</td>
                </tr>
                <tr>
                    <th>Nb Participants</th>
                    <td>{{ sorty.participants|length }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{ sorty.note }}</td>
                </tr>
                <tr>
                    <th>DateLimte</th>
                    <td>{{ sorty.dateLimite ? sorty.dateLimite|date('Y-m-d') : '' }}</td>
                </tr>

                </tbody>
            </table>
            <div>
            <a href="{{ path('sorties/index') }}" class="btn btn-outline-primary">Back to List</a>
            {% if app.user == sorty.organizator or is_granted('ROLE_ADMIN')%}
                <a href="{{ path('sorties/edit', {'id': sorty.id}) }}" class="btn btn-outline-secondary">Edit</a>
                <a href="{{ path('etat_cancel', {'id': sorty.id}) }}" class="btn btn-outline-danger">Annuler</a>
            {{ include('sorties/delete_form.html.twig') }}
            {% endif %}
            </div>
            {% if sorty.participants %}
                <h2>Liste des participants</h2>
                <ul>
                    {% for participant in sorty.participants %}
                        <li>{{ participant.username }}</li>
                    {% else %}
                        <li>Aucun participant</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
