{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    <div class="background-overlay"></div>
    <main class="d-flex">
        <div class="content container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Edit the Group {{ group.name }}</h1>
            <div class="row">
                <div class="col-md-6">
                        {{ include('group/_form.html.twig', {'button_label': 'Update'}) }}
                        {{ include('group/_delete_form.html.twig', {'style': 'btn btn-danger'}) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
