<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SORTIR{% endblock %}</title>
    <link rel="icon" href="{{ asset('../assets/images/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle">
    {% if is_granted('IS_AUTHENTICATED') %}
        <div class="dropdown border-top">
            <a href="#"
               class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
               id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                {% if app.user.picture is not empty %}
                    <img src="{{ asset(picture_dir ~ '/'  ~ app.user.picture) }}" alt="#" width="55" height="55" class="rounded-circle"/>
                {% else %}
                    <img src="{{ asset('images/default-avatar.png') }}" alt="default-avatar" width="55" height="55" class="rounded-circle"/>
                {% endif %}
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="{{  url('user/profile') }}">Profile</a></li>
                <li><a class="dropdown-item" href="{{ url('admin') }}">Page Admin</a></li>
                <li><a class="dropdown-item" href="{{ url('admin_user_loadcsv') }}">Add people with a .csv</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url('app_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    {% endif %}
    <div class="container">
        <a class="navbar-brand d-none d-lg-block" href="{{ url('home_home') }}">
            <img src="{{ asset('images/favicon.png') }}" alt="logo" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ url('user/index') }}">Liste des Users</a></li>

                <li class="nav-item"><a class="nav-link" href="{{ url('sorties/index') }}">Liste des sorties</a></li>
                {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item"><a class="nav-link" href="{{ url('sorties/new') }}">Créer une sortie</a></li>
                {% endif %}
                <li class="nav-item"><a href="{{ path('app_ville_new') }}" class="nav-link">Ajouter une nouvelle ville</a></li>
                <li class="nav-item"><a href="{{ path('app_lieu_new') }}" class="nav-link">Ajouter un nouveau lieu</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a href="#" class="nav-link">Ajouter un site (TODO)</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if not is_granted('IS_AUTHENTICATED') %}
    <nav class="navbar navbar-light" style="background-color: #ecc7c7;">
        <div class="container">
            <div class="navbar-expand-md d-flex align-items-center" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item mx-2"><a class="nav-link btn btn-outline-success" href="{{ url('app_login') }}">Connexion</a></li>
                    <li class="nav-item mx-2"><a class="nav-link btn btn-outline-primary" href="{{ url('app_register') }}">Inscription</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
{% block body %}
{% endblock %}
<footer class="footer mt-auto py-3 bg-dark-subtle">
    <div class="container">
        <div class="footer-text">© SORTIR {{ "now" | date('Y') }}</div>
    </div>
</footer>
<script src="{{ asset('js/scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
