{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <main class="d-flex">
        <div class="container">
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <h1>Edit {{ user.username }}</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.username, 'Username:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                        {% set errors = form_errors(form.username) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.firstName, 'Prénom:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        {% set errors = form_errors(form.firstName) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.lastName, 'Nom:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        {% set errors = form_errors(form.lastName) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.mail, 'Email:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                        {% set errors = form_errors(form.mail) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.site, 'Campus:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.site, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.phoneNumber, 'Téléphone:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                        {% set errors = form_errors(form.phoneNumber) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.picture, 'Avatar:', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
                        {% set errors = form_errors(form.picture) %}
                        {% if errors %}
                            <div class="text-danger">
                                {{ errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('user/index') }}" class="btn btn-outline-danger">Retour à la liste</a>
                        {% if app.user and app.user.id == user.id %}
                        <a href="{{ path('user/change_password') }}" class="btn btn-outline-secondary">Modifier votre mot de passe</a>
                        {{ form_row(form.submit, {'label': 'Modifier votre profil'}) }}
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
