{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<main class="d-flex">
    {%  block sidebar %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
        {% for group, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        <h1>User Index</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.mail }}</td>
                    {% if user.picture is empty %}
                    <td>aucun avatar disponible</td>
                    {% else %}
                        <td><img src="{{ asset(picture_dir ~ '/'  ~ app.user.picture) }}" alt="default-avatar" width="55" height="55"/></td>
                    {% endif %}
                        <td>
                            {% if app.user and app.user.id == user.id %}
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">Show</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-secondary">Edit</a>
                            {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('user_new') }}" class="btn btn-success">Create New</a>
    </div>
</main>
{% endblock %}