{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<main class="d-flex">
    {%  block sidebar %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
    {% for group, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <h1>{{ user.username }} Profile</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{% if user.firstName is empty %}aucun prénom renseigné{% else %}{{ user.firstName }}{% endif %}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{% if user.lastName is empty %}aucun nom renseigné{% else %}{{ user.lastName }}{% endif %}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{% if user.phoneNumber is empty %}aucun téléphone renseigné{% else %}{{ user.phoneNumber }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{% if user.mail is empty %}aucun email renseigné{% else %}{{ user.mail }}{% endif %}</td>
            </tr>
            <tr>

                <th>Picture</th>
                <td>
                    {% if user.picture is empty %}
                        aucun avatar renseigné
                    {% else %}
                        <img src="{{ asset(picture_dir ~ '/' ~ app.user.picture) }}" alt="default-avatar" width="55" height="55"/>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('user/index') }}" class="btn btn-primary">Back to List</a>
        <a href="{{ path('user/edit', {'id': user.id}) }}" class="btn btn-secondary">Edit</a>
        {{ include('user/delete_form.html.twig') }}

    </div>
</main>
{% endblock %}